<footer class="l-footer">
  <nav class="l-footer-nav">
    <ul class="l-footer-nav__item">
      <li class="l-footer-nav__list"><a>Item1</a></li>
      <li class="l-footer-nav__list"><a>Item2</a></li>
      <li class="l-footer-nav__list"><a>Item3</a></li>
    </ul>
  </nav>
</footer>
