<head>
  <meta charset="utf-8" />
  <link rel=”icon” href=“/favicon.ico” href="https://icons8.com/icon/sOWbK4N3cxGh/webpack">
  <link rel="stylesheet" href="./style/index.scss" />
  <title>Webpack-template</title>
</head>