<header class="l-header">
  <nav class="l-header-nav">
    <ul class="l-header-nav__item">
      <li class="l-header-list">Item1</li>
      <li class="l-header-list">Item2</li>
      <li class="l-header-list">Item3</li>
      <li class="l-header-list"><a href="./index2.html">Item4</a></li>
    </ul>
  </nav>
</header>
