<html>
  <%- include("./template/_head.ejs") %>
  <link rel="stylesheet" href="./style/style.scss" />
  <body>
    <%- include("./template/_header.ejs") %>
    <div class="parent">
      <h1>index2.ejs</h1>
      <p class="text">index2.ejs</p>
    </div>
    <%- include("./template/_footer.ejs") %>
  </body>
</html>
