<html>
  <%- include("./template/_head.ejs") %>
  <link rel="stylesheet" href="./style/index.scss" />
  <body>
    <%- include("./template/_header.ejs") %>
    <div>index.ejs</div>
    <%- include("./template/_footer.ejs") %>
    <script type="text/javascript" charset="utf-8" src="./script/script.js"></script>
  </body>
</html>
